<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.mapper.BmsPaymentRecordMapper">

    <insert id="insert" parameterType="com.his.domain.BmsPaymentRecord" useGeneratedKeys="true" keyProperty="id">
        insert into bms_payment_record
        (registration_id, total_amount, pay_time, operator_id, pay_method, remark, create_time)
        values
        (#{registrationId}, #{totalAmount}, #{payTime}, #{operatorId}, #{payMethod}, #{remark}, #{createTime})
    </insert>
</mapper>
