<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.mapper.BmsPaymentAllocationMapper">

    <insert id="insert" parameterType="com.his.domain.BmsPaymentAllocation" useGeneratedKeys="true" keyProperty="id">
        insert into bms_payment_allocation (payment_id, payable_item_id, amount)
        values (#{paymentId}, #{payableItemId}, #{amount})
    </insert>

    <insert id="insertBatch">
        insert into bms_payment_allocation (payment_id, payable_item_id, amount)
        values
        <foreach collection="list" item="it" separator=",">
            (#{it.paymentId}, #{it.payableItemId}, #{it.amount})
        </foreach>
    </insert>
</mapper>
