<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.his.mapper.DmsHerbalItemRecordMapper">

    <insert id="insertBatch">
        insert into dms_herbal_item_record
        (status, prescription_id, medical_advice, footnote, drug_id, usage_num, usage_num_unit, total_num, current_num)
        values
        <foreach collection="list" item="it" separator=",">
            (#{it.status}, #{it.prescriptionId}, #{it.medicalAdvice}, #{it.footnote}, #{it.drugId}, #{it.usageNum},
             #{it.usageNumUnit}, #{it.totalNum}, #{it.currentNum})
        </foreach>
    </insert>

    <select id="selectByPrescriptionId" resultType="com.his.domain.DmsHerbalItemRecord">
        select *
        from dms_herbal_item_record
        where prescription_id = #{prescriptionId}
          and (status is null or status &lt;&gt; 2)
        order by id asc
    </select>

</mapper>

