<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.his.mapper.DmsHerbalPrescriptionRecordMapper">

    <insert id="insert" parameterType="com.his.domain.DmsHerbalPrescriptionRecord" useGeneratedKeys="true" keyProperty="id">
        insert into dms_herbal_prescription_record
        (status, create_time, amount, name, therapy, therapy_details, medical_advice, pair_num, registration_id, frequency, usage_means, type, create_staff_id)
        values
            (#{status}, #{createTime}, #{amount}, #{name}, #{therapy}, #{therapyDetails}, #{medicalAdvice}, #{pairNum},
             #{registrationId}, #{frequency}, #{usageMeans}, #{type}, #{createStaffId})
    </insert>

    <select id="selectByRegistrationId" resultType="com.his.domain.DmsHerbalPrescriptionRecord">
        select *
        from dms_herbal_prescription_record
        where registration_id = #{registrationId}
          and (status is null or status &lt;&gt; 2)
        order by id desc
    </select>

    <select id="sumAmountByRegistrationId" resultType="java.math.BigDecimal">
        select COALESCE(sum(amount), 0)
        from dms_herbal_prescription_record
        where registration_id = #{registrationId}
          and (status is null or status &lt;&gt; 2)
    </select>

</mapper>

